/* Add CSS styling here */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    line-height: 1.4;
}

button:hover {
    cursor: pointer;
}

header {
    background: #c72400;
    padding: 20px;
}

header h1 {
    color: whitesmoke;
    font-size: 2.4rem;
    margin-bottom: 2%;
    text-transform: uppercase;
}

header nav {
    padding: 20px;
}

header nav a {
    text-decoration: none;
    /* background: whitesmoke; */
    color: #4f4f4f;
    padding: 10px;
    display: inline-block;
    background: linear-gradient(to right, grey 50%, whitesmoke 50%);
    background-size: 205% 100%;
    background-position: right bottom;
    transition:  all ease-out 200ms;
}

header nav a:hover {
    background-position: left bottom;
    color: whitesmoke;
}

header nav a#active {
    background: #3f3f3f;
    color: whitesmoke;
}

section.about {
    display: flex;
    align-items: flex-end;
    padding: 3%;
}

section.about img {
    min-width: 0;
    min-height: 0;
    object-fit: cover;
    height: 400px;
    flex: 1;
}

section.about .introduction {
    flex: 1;
    padding: 0px 5%;
    font-size: 1.2rem;
}


section.about .introduction h2 {
    font-size: 1.6rem;
    margin-bottom: 4%;
    text-transform: uppercase;
}

section.about .introduction button {
    padding: 2%;
    background: #c72400;
    border: none;
    color: whitesmoke;
    margin-bottom: 2%;
}

section.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section.projects .project {
    padding: 1% 2%;
    width: 25%;
    min-width: 300px;   
    margin: 2% 0px;
}

section.projects .project h3 {
    font-size: 1.4em;
}

section.projects .project .img-container {
    overflow: hidden;
    width: 100%;
    height: 300px;
    margin-bottom: 3%;
}

section.projects .project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform ease-out 400ms;
}

section.projects .project img:hover {
    transform: scale(1.3);
}

footer {
    padding: 2% 0 0 0;
    background: lightgrey;
    text-align: center;
}

footer .social {
    padding: 4% 0 1% 0;
    font-size: 2rem;
}

footer .social a {
    margin: 0px 20px;
    text-decoration: none;
    color: black;
}

footer h4 {
    margin-bottom: 2%;
    font-size: 1.4em;
}

footer button {
    padding: 1% 5%;
    background: #c72400;
    border: none;
    color: whitesmoke;
}


@media only screen and (max-width: 900px) {
    section.about {
        flex-direction: column;
    }

    section.about img {
        flex: 0;
        height: 20vh;
        width: 100%;
        margin-bottom: 5%;
    }
}

@media only screen and (max-width: 700px) {

    section.projects {
        padding: 5vh 0;
    }

    footer {
        padding: 5vh 0 2vh 0;
    }

    footer .social {
        padding-top: 5vh;
    }
}

@media only screen and (max-width: 450px) {
    header nav a {
        margin-bottom: 10px;
    }
}